<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOv2oN8UHmnsvtOkxCveJstw_KmFBwR9c</string>
	<key>GCM_SENDER_ID</key>
	<string>124955638812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qcorver.whentowater</string>
	<key>PROJECT_ID</key>
	<string>garden-watering-app</string>
	<key>STORAGE_BUCKET</key>
	<string>garden-watering-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124955638812:ios:aa6c9725fce3d8aa3273d9</string>
</dict>
</plist>